:host {
  padding: 1rem;
}

.indicator {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.error.indicator {
  max-width: 480px;
}

.indicator mat-icon {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}
