header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-slate);
  color: white;
}

header > .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  /* height: 100px; */
  padding: 2px 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 64px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
