<header>
  <div class="container">
    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      alt="Angular Logo"
      width="40" />
    <span class="current-page"
      style="margin-left: 1rem;">Inicio</span>
    <span class="flex-spacer-item"></span>
    <button type="button" mat-icon-button class="menu-trigger"
      [matMenuTriggerFor]="headerMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #headerMenu>
      <a mat-menu-item routerLink="/form">
        <mat-icon>edit_document</mat-icon>
        <span>Encuesta</span>
      </a>
      <a mat-menu-item routerLink="/results">
        <mat-icon>poll</mat-icon>
        <span>Resultados</span>
      </a>
    </mat-menu>
  </div>
</header>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
